.contact_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.contact_form {
    display: flex;
    flex-wrap: wrap;
    width: 66.66%;
}

.contact_form_field {
    width: 50%;
    margin-bottom: 30px;
    &:nth-child(1) {
        padding-right: 16px;
    }
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: rgba(212, 98, 64, 1);
}

input,
textarea {
    width: 100%;
    margin-top: 5px;
    padding: 21px 36px;
    font-size: 16px;
    // line-height: 28px;
    background-color: rgba(251, 242, 218, 1);
    border: none;
    border-radius: 5px;
}

textarea {
    height: 250px;
    font-family: $font;
    resize: vertical;
}

.contact_form_field_full {
    width: 100%;
}

.contact_about {
    h2 {
        margin-bottom: 14px;
    }
    p {
        text-align: center;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 87px;
    }
    a {
        color: rgba(212, 98, 64, 1);
    }
}

.contact_btn {
    width: 100%;
    background-color: rgba(212, 98, 64, 1);
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.contact_form_checkbox {
    display: flex;
    margin-bottom: 30px;
    display: inline-block;
    justify-content: center;
}

.contact_checkbox {
    display: none;
}

.contact_checkbox:checked+.about_checkbox:before {
    background-image: url('/images/Vector_checkbox.svg');
    // background-color: black;
    // box-shadow: inset 0 0 0 2px #fff;
}

.about_checkbox:before {
    content: '';
    display: inline-block;
    border: 2px solid rgba(212, 98, 64, 1);
    width: 32px;
    height: 32px;
    margin-right: 5px;
    border-radius: 8px;
}

.about_checkbox {
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    a {
        display: inline-block;
        color: rgba(212, 98, 64, 1);
    }
}
