.gallery {
    background-color: rgba(251, 242, 218, 1);
    h2 {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

.slider {
    display: flex;
    width: 83.33%;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 145px;
}
