    .gallery {
        background-color: rgba(251, 242, 218, 1);
        h2 {
            padding-top: 100px;
            margin-bottom: 50px;
        }
    }

    // .photos-wrap {
    //     display: flex;
    //     justify-content: center;
    //     margin: 0 auto;
    //     padding-bottom: 145px;
    // }
    .slider-item {
        width: 83.33%;
        // это возможно нужно будет убрать
        img {
            display: inline-block;
            height: 600px;
            width: 1060px;
        }
    }
