.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #152B3C;
    z-index: 1000;
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo,
.phone {
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 0;
}

.phone {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 28px;
    color: #FBF2DA;
    margin-left: auto;
}

header a {
    text-decoration: none;
    padding-left: 30px;
}

header p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 28px;
    color: #FBF2DA;
}

.header_logo {
    display: block;
    margin-right: auto;
    font-family: 'Raleway';
    font-size: 42px;
    color: #FBF2DA;
}

.header_list a {
    display: block;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: #FBF2DA;
}

.header_list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
