/* стили блока location */

.location {
    background-color: rgba(251, 242, 218, .2);
}

.location_list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
}

.location_item {
    width: 50%;
    height: 100%;
    padding: 15px;
}

.location_card {
    position: relative;
    width: 100%;
    height: 272px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.location_fade {
    background-color: rgba(21, 43, 60, 0.4);
    height: 100%;
}

.location h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 40px;
    text-align: left;
    color: rgba(251, 242, 218, 1);
    margin-top: 0;
    margin-bottom: 0;
}

.location a {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 30px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
    color: rgba(251, 242, 218, 1);
}

// .location p {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     padding: 30px;
//     background-color: rgba(0, 0, 0, .5);
//     font-family: 'Open Sans';
//     font-weight: 400;
//     font-size: 40px;
//     text-align: left;
//     color: rgba(251, 242, 218, 1);
//     margin-top: 0;
//     margin-bottom: 0;
// }
// .location {
//     background-color: rgba(251, 242, 218, .2);
// }
// .location_list {
//     display: flex;
//     list-style: none;
//     flex-wrap: wrap;
//     padding-left: 0;
//     margin-top: 0;
//     margin-left: 81px;
//     margin-right: 81px;
// }
// .location_item {
//     width: 50%;
//     padding: 15px;
// }
// .location_card {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     height: 100%;
// }
// .location_pic {
//     width: 100%;
//     height: 272px;
//     object-fit: cover;
// }
// .location a {
//     position: absolute;
//     bottom: 30px;
//     left: 0;
//     width: 100%;
//     padding-top: 30px;
//     padding-left: 30px;
//     text-decoration: none;
//     font-family: 'Open Sans';
//     font-weight: 400;
//     font-size: 24px;
//     color: rgba(251, 242, 218, 1);
// }
// .location p {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     padding: 30px;
//     background-color: rgba(0, 0, 0, .5);
//     font-family: 'Open Sans';
//     font-weight: 400;
//     font-size: 40px;
//     text-align: left;
//     color: rgba(251, 242, 218, 1);
//     margin-top: 0;
//     margin-bottom: 0;
// }
